<app-layout>
  <app-todo-list-header (create)="createTodo($event)"></app-todo-list-header>
  <app-todo-list [todos]="getAllTodos()" (delete)="deleteTodo($event)" (update)="updateTodo($event)">
  </app-todo-list>
</app-layout>