<li class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
        <h5>{{model.title}}</h5>
        <div class="d-flex">
            <button type="button" class="btn btn-info" (click)="openEditDialog(editDialog)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
        </div>
    </div>
    <p>{{model.description}}</p>
</li>

<ng-template #editDialog>
    <app-todo-editor [titleText]="'Edit task'" [saveText]="'Save'" [todo]="editModel" (save)="onUpdate($event)"
        (close)="modalClose()">
    </app-todo-editor>
</ng-template>