<div class="d-flex align-items-start w-100 justify-content-between p-4">
    <h1>Your tasks</h1>
    <button type="button" class="btn btn-success" (click)="openEditDialog(createDialog)">Add new task</button>
</div>

<ng-template #createDialog>
    <app-todo-editor [titleText]="'Add new task'" [saveText]="'Create'" [todo]="newTodo" (save)="onSave($event)"
        (close)="modalClose()">
    </app-todo-editor>
</ng-template>