<div class="modal-header">
    <h4 class="modal-title">{{titleText}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" required="true" [(ngModel)]="todo.title">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" name="description" [(ngModel)]="todo.description">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onSave()">{{saveText}}</button>
</div>